# Kconfig - nRF52 Ruuvi Tag board configuration
#
# Copyright (c) 2016 Nordic Semiconductor ASA
# Copyright (c) 2017 Peter Robinson
#
# SPDX-License-Identifier: Apache-2.0

if BOARD_NRF52_RUUVITAG

config BOARD
	default nrf52_ruuvitag

if GPIO_NRF5

config GPIO_NRF5_P0
	default y

endif # GPIO_NRF5

if UART_NRF5

config UART_NRF5_GPIO_RX_PIN
	default 4

config UART_NRF5_GPIO_TX_PIN
	default 5

endif # UART_NRF5

endif # BOARD_NRF52_RUUVITAG
